<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ieasy360.app.upgrade">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:name="com.ieasy360.app.upgrade.DownloadService"
            android:enabled="true">
        </service>
    </application>

</manifest>
